.signup-container{
    display: flex;
    margin-top: 50px;
}
.image-container{
    width: 805px;
    height: 781px;
}
.form-box{
    padding: 100px;
    margin-top: 60px;
}
.form-box h1{
    font-size: 36px;
    font-weight: 500;
    color: #000000;
}
.form-box p{
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    margin-top: 20px;
}
.box1{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.box1 input{
    border-bottom: 1px solid gray;
    width: 120%;
    background: transparent;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    margin-top: 35px;
  }
  #btn{
    width: 120%;
    padding: 8px;
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid #DB4444;
    background-color:  #DB4444;
    color: #fff;
  }
  .google-button{
    width: 120%;
    padding: 8px;
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid #00000066;
    background: transparent;
  }
  .google-img{
    margin-right: 15px;
  }
  .login-text{
    text-align: center;
  }
  .error{
    color: red;
    font-size: 10px;
  }